# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary
*.test

# Output
*.out

# Coverage
coverage*
*.coverprofile

# Build
/bin/
/build/

# Go workspace
go.work
go.work.sum

# Dependencies
/vendor/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Env
.env.example
.env.*

# Logs
*.log

# Temp
*.tmp
*.swp


# Docs local
**/docs/